.form-link {
    margin-top: 3px;
    margin-left: 70px;
    color: rgb(24, 125, 188);
    font-size: 24px;
    font-weight: 300;
}

#login-form > .row {
    display: flex;
}

#login-form > .row > .left-col {
    width: 20%;
}

#login-form > .row > .right-col {
    margin-left: 10px;
    margin-top: 15px;
}

#login-form > .row > .col > h4 {
    font-weight: 400;
}

#login-form > .row > .col > input {
    padding: 5px;
    width: 200%;
    font-size: 14px;
}

#login-button {
    border-radius: 7px;
    width: 100px;
    height: 40px;
    font-size: 18px;
    background-color: rgb(187, 187, 250);
    cursor: pointer;
}

#login-button:hover {
    background-color: rgb(158, 158, 244);
}