.send-button {
    width: 200px;
    height: 50px;
    padding: 7px;
    color: #2EB3EC;
    font-size: 14px;
    background-color: #ffffff;
    border-radius: 50px;
    border: 2px solid #2EB3EC;
    cursor: pointer;
    letter-spacing: .1em;
    font-weight: 600;
    justify-content: center;
}

.team-input {

    width: 400px; /* Ширина поля ввода */
    padding: 10px; /* Внутренние поля */
    margin: 10px 0; /* Отступы */
    border: 1px solid black; /* Граница */
    border-radius: 4px; /* Скругленные углы */
    box-sizing: border-box; /* Бордюрная модель */
}

.save-btn {
    margin-top: 10px;
    width: 200px;
    height: 38px;
    padding: 7px;
    color: #2EB3EC;
    font-size: 14px;
    background-color: #ffffff;
    border-radius: 50px;
    border: 2px solid #2EB3EC;
    cursor: pointer;
    letter-spacing: .1em;
    font-weight: 600;
    justify-content: center;
}

.save-btn:hover {
    color: #2062cb; /* Цвет фона при наведении */
    border-color: #2062cb;
}
.send-button:hover {
    color: #2062cb; /* Цвет фона при наведении */
    border-color: #2062cb;
}

.delete-button {
    margin-left: 20px;
    width: 200px;
    height: 50px;
    padding: 7px;
    color: #2EB3EC;
    font-size: 14px;
    background-color: #ffffff;
    border-radius: 50px;
    border: 2px solid #2EB3EC;
    cursor: pointer;
    letter-spacing: .1em;
    font-weight: 600;
    justify-content: center;
}

.delete-button:hover {
    color: #2062cb; /* Цвет фона при наведении */
    border-color: #2062cb;
}

.remove-button {
    position: relative;
    left: 40px;
    top: 40px;
    width: 303.5px;
    height: 50px;
    padding: 7px;
    color: #2EB3EC;
    font-size: 14px;
    background-color: #ffffff;
    border-radius: 50px;
    border: 2px solid #2EB3EC;
    cursor: pointer;
    letter-spacing: .1em;
    font-weight: 600;
    justify-content: center;
}

.remove-button:hover {
    background-color: rgb(236, 232, 110);
}

.cart-help-text {
    color:rgb(237, 104, 137);
    font-size: 30px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 300;
}

.cart-main-text {
    color:black;
    font-size: 30px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 300;
}

#cart-page > .row > div > .card {
    border: 2px groove black;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}