.button {
    width: 320px;
    height: 50px;
    padding: 7px;
    color: #2EB3EC;
    font-size: 14px;
    background-color: #ffffff;
    border-radius: 50px;
    border: 2px solid #2EB3EC;
    cursor: pointer;
    letter-spacing: .1em;
    font-weight: 600;
    justify-content: center;
}

.button:hover{
    color: #2062cb;
    border-color: #2062cb;
}

.popup-message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fee;
    color: rgb(85, 85, 85);
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    z-index: 1000; /* чтобы окно было поверх других элементов */
}

