#product-table {
    border: 2px groove black;
    border-radius: 10px;
    text-align: center;
}

#product-table > .row > .product-table-col > h2,
#product-table > .row > .product-table-col > a > h2 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
}

#product-table > .row > .product-table-head > h2 {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

#product-table > .row > .col > a {
    text-decoration: none;
    color: rgb(15, 103, 157);
}

.activate-product-button {
    margin-left: 25px;
    border-radius: 7px;
    width: 100px;
    height: 40px;
    padding: 7px;
    color: #2EB3EC;
    font-size: 14px;
    font-weight: 300;
    background-color: #ffffff;
    border-radius: 50px;
    border: 2px solid #2EB3EC;
    cursor: pointer;
    letter-spacing: .1em;
    font-weight: 600;
    justify-content: center;
    text-align: center;
}

.activate-product-button:hover {
    color: #2062cb;
    border-color: #2062cb;
}

.delete-product-button {
    margin-left: 25px;
    border-radius: 7px;
    width: 100px;
    height: 40px;
    padding: 7px;
    color: #2EB3EC;
    font-size: 14px;
    font-weight: 300;
    background-color: #ffffff;
    border-radius: 50px;
    border: 2px solid #2EB3EC;
    cursor: pointer;
    letter-spacing: .1em;
    font-weight: 600;
    justify-content: center;
    text-align: center;
}

.delete-product-button:hover {
    color: #2062cb;
    border-color: #2062cb;
}

.update-product-button {
    margin-left: 25px;
    border-radius: 7px;
    width: 100px;
    height: 40px;
    padding: 7px;
    color: #2EB3EC;
    font-size: 14px;
    font-weight: 300;
    background-color: #ffffff;
    border-radius: 50px;
    border: 2px solid #2EB3EC;
    cursor: pointer;
    letter-spacing: .1em;
    font-weight: 600;
    justify-content: center;
    text-align: center;
}

.update-product-button:hover {
    color: #2062cb;
    border-color: #2062cb;
}

.product-table-image {
    width: 80%;
}

.create-product-button {
    margin-left: 15px;
    margin-top: 30px;
    width: 200px;
    height: 40px;
    padding: 7px;
    color: #2EB3EC;
    font-size: 14px;
    font-weight: 300;
    background-color: #ffffff;
    border-radius: 50px;
    border: 2px solid #2EB3EC;
    cursor: pointer;
    letter-spacing: .1em;
    font-weight: 600;
    justify-content: center;
    text-align: center;
}
.create-product-button:hover {
    color: #2062cb;
    border-color: #2062cb;
}